/*VARIABLES*/
/* MAPS */
/*COMPONENTES*/
body {
  overflow-x: hidden;
  background-color: gray; }
  body .header {
    background-color: black; }
    body .header .logo {
      width: 100px;
      border-radius: 100px; }
      body .header .logo .nav-link {
        font-size: 20px;
        color: white; }
        body .header .logo .nav-link .li {
          font-size: 20px; }
