body{
    overflow-x: hidden;
    background-color: $color-principal ;
    .header{
        background-color: black;
        .logo{
            width: 100px;
            border-radius: 100px;
            .nav-link{
                font-size: 20px;
                color: white;
            }
        }
    }
}